.products-card {
  display: grid;
  grid-template-rows: 65% 15% 15%;
  justify-content: stretch;
  align-items: center;
  border: solid 0.5px;
  border-radius: 10px;
  max-height: 180px;
  max-width: 250px;
  padding-left: 5px;
}

.products-card img {
  cursor: pointer;
  width: calc(100% - 5px);
  height: 90px;
  border-radius: 10px;
  margin: 0 5px 0 0px;
}

.product-header {
  font-size: medium;
}

.product-addToCart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  border: solid 0.5px;
  cursor: pointer;
  width: calc(100% - 5px);
  height: 20px;
  font-size: small;
  transition: all 0.5s;
  background-color: var(--primary-bg-header-color-dark);
  border-color: var(--primary-bg-header-color-dark);
}

.product-addToCart:hover {
  animation: borderAnimation 1s forwards; /* Adjust the duration as needed */
  /* background-color: var(--primary-bg-strong-color-dark); */
  /* transition: all 0.2s; */
}

.product-addToCart-manualQty {
  width: 50px;
  background: none;
  color: white;
  border: none;
}

.product-addToCart-qty {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@keyframes backgroundColorAnimation {
  0% {
    background-color: transparent transparent transparent red;
  }
  25% {
    background-color: transparent transparent red red;
  }
  50% {
    background-color: transparent red red red;
  }
  75% {
    background-color: red red red red;
  }
  100% {
    background-color: red red red red;
  }
}
