/* .order-container {
  display: flex;
  flex-direction: column;
  height: 50px;
} */

.order-detail-container {
  display: grid;
  grid-template-columns: 18% 62% 20%;
  height: 50px;
  border-radius: 12px;
  background-color: var(--primary-bg-header-color-dark);
  padding-right: 10px;
}

.order-detail-container .order-detail-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  max-height: 50px;
}

.order-detail-container .order-detail-img-container img {
  width: 60%;
  height: 60%;
  border-radius: 10px;
  margin-left: 5px;
}

.order-detail-container .order-detail-description-container {
  padding: 2px;
  display: grid;
  grid-template-rows: 50% 50%;
  max-height: 50px;
}

.text-header {
  padding-top: 4px;
  font-size: medium;
}

.text-description {
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: small;
}

.order-detail-container .order-details-options-container {
  display: grid;
  grid-template-rows: 50% 50%;
  justify-content: center;
  align-items: center;
  max-height: 50px;
  padding-top: 2px;
}

.remove {
  cursor: pointer;
  color: red;
  font-size: x-small;
  text-align: center;
  padding-bottom: 10px;
}
